.. _{{package}}_interfaces:

{{package}} interfaces
=========================================================

This is the list of all ROS interfaces (messages, services, actions) defined in the ROS package ``{{package}}``.

**Source repository**: `ros4hri/{{package}} <https: //github.com/ros4hri/{{package}}>`_.

.. toctree::
   :maxdepth: 1

{{toctree_entries}}